#flexbox-demo {
    background-color: rgb(230, 230, 230);
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
}
.flex-items {
    display: inline-block;
    background-color: rgb(145, 194, 145);
    text-align: center;
    height: 50px;
    padding: 5px;
    margin: 5px;
}